{% extends 'base.html' %}

{% block content %}


    {% if event_list %}
        <div class="container mt-5 text-dark">
            <div class="row">
                <div class="col">
                    <div class="accordion" id="eventAccordion">

                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            Events
                          </h2>
                        </div>
                      </div>

                    {% for event in event_list %}
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ event.id }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ event.title }}
                            </button>
                          </h2>
                        </div>

                        <div id="collapse{{ event.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#eventAccordion">
                          <div class="card-head">
                            <div class="alert alert-info" >{{ event.start_time }} to {{ event.end_time }}</div>
                          </div>
                          <div class="card-body">
                            {{ event.description }}
                          </div>
                        </div>

                      </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5 p-2" style="background-color: rgba(0,0,0,0.5);">
            <div class="row">
                <div class="col text-center">
                    There seem to be no events right now...
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}