<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <h2> White Lotus Buddhist Center is dedicated to the transmission of Buddha’s teachings and realization to America and is committed to the support of those who seek to walk the Path together. This effort involves individuals gaining the confidence to commit to ongoing study, critical analysis – pounding the teachings as gold would be hammered in ancient India to prove its purity – and applying the teachings to the training of the mind. We practice in the tradition of the Drikung Kagyu lineage of Tibet.

Our center, located in Rochester, New York offers weekly lectures on Tibetan Buddhism and meditation practice in a warm and friendly environment. The highlights of each year are programs by visiting Tibetan Lamas who teach on Buddhism, lead meditation retreats, and meet one on one with interested practitioners. </h2>
    <title>Title</title>
</head>
<body>

</body>
</html>