<!DOCTYPE html>
<html lang="en">
<head>This is my event home page
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<h2>
    With Ven. Khenpo Konchog Molam       Saturday 12/14, 10:00 AM-12:00 PM and                                                            Sunday 12/15, 10:00 AM-12:00 PM

“The short Buddhist scripture entitled the Heart of Wisdom, . . . is one of the most sacred texts of Mahayana Buddhism, the Buddhism that traditionally flourished in India, China, Tibet, Japan, Korea, Mongolia, Vietnam and many regions of central Asia, including what is today modern Afghanistan. For more than two millennia this scripture has played an extremely important role in the religious live of millions of Buddhists. It has been memorized, chanted, studied, and meditated upon by those aspiring to attain what Mahayana Buddhism describes as the perfection of wisdom. Even today, the chanting of this sutra can be heard in the Tibetan monasteries, where it is recited in the characteristically deep overtone voice, in Japanese Zen temples, where the chanting is done in tune with rhythmic beating of a drum, and in the Chinese and the Vietnamese temples, where it is sung in melodious tunes.”

Ven. Khenpo Konchog Molam (the title “Khenpo” denotes a scholar monk who has studied the major texts of Buddhism in depth) will elucidate the easily misunderstood passages of the Heart Sutra, this text that lays out the very essence of the Perfection of Wisdom texts (Prajnaparamita).

Why is the study of the Heart Sutra important for Buddhist practitioners? Because “a thorough understanding of them is essential for attaining what the Dalai Lama calls, ‘an unmistaken view of reality’ – a view that brings about true liberation from the source of all suffering.”

Description taken from the Essence of the Heart Sutra by HH 14th Dalai Lama book jacket and the Introduction by Geshe Thupten Jinpa.


</h2>

</body>
</html>