{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 p-3 text-center" style="background-color:rgba(0,0,0,0.5);font-size: 20px;">
        <div class="row">
            <div class="col">
                {{ aboutPageText.text }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-1">
            {% for teacher in teachers %}
                <div class="col-4 p-1">
                    <div class="card text-center">
                        <img class="card-img-top" src="{{ teacher.picture.url }}">

                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ teacher.name }}</h5>
                            <p class="card-text text-dark">{{ teacher.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}